* {
    box-sizing: border-box;
}

html {
    height: 100%;
  }
  
body {
    height: 100%;
    background: linear-gradient(#6084d7 25%, #a2cef4 50%, #a2cef4 50%, #6084d7 100%);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    width: 650px;
    max-width: 100%;
    box-shadow: 0 0 10px 5px black;
    overflow: hidden;
    position: fixed;
}

.landing-page {
    display: block;
    text-align: center;
}

.invisible {
    display: none;
}

.quiz-header {
    padding: 15px;
}

h2 {
    text-align: center;
    padding: 15px;
    margin: 0;
}

.answer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 15px 0;
    font-size: 16px;
}

.btn:focus {
    box-shadow: none;
}

#timer {
    background-color: white;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 12px;
    margin-right: 50px;
    box-shadow: 0 0 10px 5px black;
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
    right: 500px;
}

#message {
    opacity: 1;
    transition: opacity 1s;
    text-align: center;
    padding-bottom: 5px;
}
  
#message.fade {
    opacity: 0;
}

#player-name-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#high-scores {
    display: block;
    text-align: center;

}

button:hover {
    background-color: aquamarine;
    color: red;
} 
  
.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    perspective: 360px;
    perspective-origin: 50% 50%;
    z-index: -2;
}
  
.top-plane, .bottom-plane {
    width: 200%;
    height: 130%;
    position: absolute;
    bottom: -30%;
    left: -50%;
    background-image: -webkit-linear-gradient(#a2cef4 2px, transparent 2px), -webkit-linear-gradient(left, #a2cef4 2px, transparent 2px);
    background-size: 100px 100px,100px 100px;
    background-position: -1px -1px,-1px -1px;
    transform: rotateX(85deg);
    animation: planeMoveTop 2s infinite linear;
}
  
.bottom-plane {
    transform: rotateX(-85deg);
    top: -30%;
    animation: planeMoveBot 2s infinite linear;
}
  
@keyframes planeMoveTop {
    from {
      background-position: 0px -100px,0px 0px;
    }
    to {
      background-position: 0px 0px, 100px 0px;
    }
}

@keyframes planeMoveBot {
    from {
      background-position: 0px 0px,0px 0px;
    }
    to {
      background-position: 0px -100px, 100px 0px;
    }
}

@media (max-height: 350px) {
    .wrap {
      perspective: 210px;
    }
}